$violetColor: #7561AE;
$whiteColor: #FFFFFF; 
$turquoiseColor:#669999;

* {
  margin:0;
}


.section {
  height: calc(100vh - 50px);
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $whiteColor;
    text-align: center;
    height: 100%;
    & h1 {
      font-size: 60px;
      font-weight: 300;
    } 
    & h2 {
      font-size: 50px;
      font-weight: 300;
    }
  }
}

.title-h1 {
  color:$violetColor;
  font-size: 72px;
  font-weight:300;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

.title-h3 {
  color: $violetColor;
  margin: 20px;
  text-align: center;
}

.btn {
  font-family: 'Montserrat', sans-serif; 
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid $turquoiseColor;
  background-color: $turquoiseColor;
  color: $whiteColor;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

