$violetColor: #7561AE;
$whiteColor: #FFFFFF; 
$turquoiseColor:#669999;

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: $violetColor;
    &__navbar {
      display: flex;
      justify-content: space-between;
      flex-basis: 50%;
    }
    &__logo {
      color:#FFFFFF;
      font-weight: 700;
      align-self: center;
      text-transform: uppercase;
      padding: 15px 20px;
    }
    &__icons {
      align-self: center;
    }
    &__link {
      text-decoration: none;
      padding: 15px 20px;
      color: $whiteColor;
      &:hover {
        color: $turquoiseColor;
        font-weight: 700;
      }
    }
    &__toggler {
        display: none;
    }
    &__langToggler {
      background-color: $violetColor;
    }
  }
  
  .active-link {
      color: $turquoiseColor;
      font-weight: 700;
  }

  .dropdown {
    position: relative;
    align-self: center;
  }
  .dropdown ul li {
    list-style-type: none;
  }

  .dropdown-toggle {
    background-color: $violetColor;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
  }


  .dropdown-toggle::after {
    content: '';
    display: inline-block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    padding:0;
    left:-13px;
  }
  .dropdown-menu.active {
    display: block;
  }
  .dropdown-item  {
    display: block;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    color: $whiteColor;
    font-family: 'Montserrat', sans-serif;
    background-color: $violetColor;
    outline: none;
    border: none;
  }

  .dropdown-item:hover {
    background-color: rgba(117, 97, 174, 0.5)
  }


  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      &__logo {
        order: 1
      }
        &__toggler {
          order: 2;
            display: block;
            & input {
              display: none;
            } 
            & label {
              position: absolute;
              top:47px;  
              left: 5px;  
              cursor: pointer;
              content: '';
              width: 15px;
              height: 3px;
              display: block;
              transition: transform 0.5s;
              background-color: $turquoiseColor;
              transition: transform 0.5s;
            }
        }
        &__navbar {
          flex-direction: column;
          order:3;
        }
        &__icons{
          margin: 15px;
          order: 4
        }
    }

    .dropdown {
      order: 5
    }

    .toggler-label::before,
    .toggler-label::after {
    content: '';
    width: 15px;
    height: 3px;
    background-color: $turquoiseColor;
    display: block;
    position: absolute;
    transition: transform 0.5s;
    }

  .toggler-label::before {
    top:-5px;
    transform-origin: left top;
    transform: rotatez(0deg);
    }

  .toggler-label::after {
    top:5px;
    transform-origin: left bottom;
    transform: rotatez(0deg);
    }
  
  .toggler-input:checked ~ .toggler-label {
    background-color: $violetColor;
  }

  .toggler-input:checked ~ .toggler-label::before{
    transform: rotate(45deg);
  }

  .toggler-input:checked ~ .toggler-label::after{
    transform: rotate(-45deg);
  }

}

@media screen and (min-width: 1201px) {
  .header {
    &__navbar {
      justify-content: flex-start;
    }
  }
}
  