$violetColor: #7561AE;
$whiteColor: #FFFFFF; 
$turquoiseColor:#669999;

.projects {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;  
    }
    &__item{
      text-align: center;
      a {
        text-decoration: none;
        color: $turquoiseColor
      }
      img {
        width: 450px;
        height:auto;
        border-radius: 10px;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

@media screen and (max-width: 1200px) {
    .projects {
        &__container {
          display: grid;
          grid-template-columns: 1fr 1fr;  
        }
    }
}

@media screen and (max-width: 1024px) {
    .projects {
        &__container {
          display: grid;
          grid-template-columns: 1fr;  
        }
    }
}

@media screen and (max-width: 1024px) {
  .projects {
      &__container {
        display: grid;
        grid-template-columns: 1fr;  
      }
      &__item{
        img {
          width: 300px;
          height:auto;
        }
      }
  }
}