$violetColor: #7561AE;
$whiteColor: #FFFFFF; 
$turquoiseColor:#669999;

.progress-bar {
    height: 20px;
    width: 100%;
    background-color: #d9d9d9;
    margin-bottom: 1.5em;
    &__filler {
        height: 100%;
        background-color: $turquoiseColor;
        border-radius: inherit;
        text-align: right;
        transition: width 1s ease-in-out
    }
    &__label {
        color: $whiteColor;
    }
}